<link rel="stylesheet" href="/css/_navbar.css" />
<nav class="top-navbar">
  <div class="nav-left">
    <div class="nav-logo-container">
      <a href="/">
        <img src="/static-assets/ZigZaggoHorizRectLogo.jpg" alt="ZigZaggo Logo" class="nav-logo" />
      </a>
    </div>

    <ul class="nav-links">
      <% if (path !== '/search') { %>
        <li><a href="/search">Search</a></li>
      <% } %>

      <% if (user) { %>
        <% if (path !== '/user/account') { %>
          <li><a href="/user/account">Profile</a></li>
        <% } %>
        <li><a href="/booking/my-bookings">My Bookings</a></li>
      <% } else { %>
        <li><a href="/auth/sign-in">Login</a></li>
        <li><a href="/auth/sign-up">Sign Up</a></li>
      <% } %>
    </ul>
  </div>

  <% if (user) { %>
    <div class="logout-container">
      <a href="/auth/sign-out" class="logout-button">Logout</a>
    </div>
  <% } %>
</nav>
