<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css" />

  <title>ZigZaggo - Login</title>
</head>
<body>
  <div>
    <h1>ZigZaggo</h1>

    <form action="/auth/sign-in" method="POST">
      <div>
        <input type="text" name="username" placeholder="Username" required />
      </div>
      <div>
        <input type="password" name="password" placeholder="Password" required />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>

    <div>
      <a href="/register">Create Account</a>
    </div>
  </div>
</body>
</html>
