<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ZigZaggo - Search</title>
  </head>

  <body>
    <div class="container">
      <%- include('../partials/_navbar') %>

      <form action="/search" method="POST" class="search-form">
        <table class="departure-table">
          <tr>
            <td><label for="departureAirport">Departure Airport</label></td>
            <td>
              <!-- Departure -->
              <input
                type="text"
                id="departureAirport"
                name="departureAirport"
                autocomplete="off"
              />
              <ul id="departure-suggestions" class="autocomplete-list"></ul>
            </td>

            <td><label for="departureFlightClass">Flight Class</label></td>
            <td>
              <select
                name="departureFlightClass"
                id="departureFlightClass"
                class="input"
              >
                <option value="economy">Economy</option>
                <option value="business">Business</option>
              </select>
            </td>

            <td><label for="departureDate">Departure Date</label></td>
            <td>
              <input
                type="date"
                id="departureDate"
                name="departureDate"
                class="input"
              />
            </td>
          </tr>
        </table>

        <table class="search-table">
          <% for (let i = 0; i < 4; i++) { %>
          <tr class="stop-row">
            <td><label>City Stop</label></td>
            <td><input type="text" name="cityStops[]" class="city" /></td>

            <td><label>Flight Class</label></td>
            <td>
              <select name="flightClass[]" class="input">
                <option value="economy">Economy</option>
                <option value="business">Business</option>
              </select>
            </td>

            <td><label>Number of Days</label></td>
            <td class="days-cell">
              <input
                type="number"
                name="days[]"
                min="0"
                value="3"
                class="days"
              />
            </td>

            <td><label>Minimum Hotel</label></td>
            <td class="rating-inputs">
              <% for (let j = 1; j <= 5; j++) { %>
              <label>
                <input
                  type="radio"
                  name="hotelRatings[<%= i %>]"
                  class="star"
                  value="<%= j %>"
                />
                ★
              </label>
              <% } %>
            </td>
          </tr>
          <% } %>
        </table>

        <table class="return-table">
          <tr>
            <td><label for="returnAirport">Return Airport</label></td>
            <td>
              <!-- Return -->
              <input
                type="text"
                id="returnAirport"
                name="returnAirport"
                autocomplete="off"
              />
              <ul id="return-suggestions" class="autocomplete-list"></ul>
            </td>

            <td><label for="returnFlightClass">Flight Class</label></td>
            <td>
              <select
                name="returnFlightClass"
                id="returnFlightClass"
                class="input"
              >
                <option value="economy">Economy</option>
                <option value="business">Business</option>
              </select>
            </td>

          </tr>
        </table>
        <div class="search-button-wrapper">
          <button type="submit" class="search-button">Search</button>
        </div>
      </form>
      <%- include('../search/results') %>
    </div>
    <script src="/airportSearch.js"></script>
    <script src="/scripts/autocomplete.js"></script>
    <script src="/search.js"></script>

  </body>
</html>
